<ion-view title="Live!" id="page2" class=" ">
    <ion-content padding="true" class="has-header">
        <div class="list card " id="live-card21">
            <h1 id="live-heading1" style="color:#000000;text-align:center;" class=" ">Earthquake Response Visualizer (ERV)</h1>
            <form id="live-form2" class="list form">
                <label class="item item-input" name="Search">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="search" placeholder="Find wher location of your loved ones">
                </label>
                <div class="spacer" style="width: 748px; height: 16px;"></div>
                <div class="">
                    <img src="img/Taq3YuaTHiTGc50ytUQw_HeatMap.png" width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
                </div>
                <div id="live-button-bar2" class=" button-bar legend">
                    <button id="live-button5" style="font-weight:600;" class=" button button-assertive  button-block icon ion-alert-circled red">Danger Zone</button>
                    <button id="live-button7" style="font-weight:600;" class=" button button-energized  button-block icon ion-alert yellow">Be Alert</button>
                    <button id="live-button8" style="font-weight:600;" class=" button button-balanced  button-block icon ion-happy-outline yellow">Safe Zone</button>
                </div>
            </form>
        </div>
        <div>
            <div>Latest earthquake is
                <a>#17600</a>being magnitude
                <strong>4.1</strong>at
                <b>9.92</b>km at 3:16am, about
                <b>30 mins ago</b>.
                <br>
                <a href="#">*3 km north of Rolleston, Canterbury, New Zealand</a>
            </div>
        </div>
    </ion-content>
</ion-view>